openai
python-dotenv
streamlit
pyyaml
bcrypt
matplotlib
numpy
pandas
pypandoc
tiktoken
anthropic
helm
torch>=2.6.0
torchvision>=0.21.0
sentence_transformers
pymc
transformers>=4.45.2
scipy
statsmodels
hmmlearn
pmdarima
scikit-image
pylatex
pyarrow>=15.0.0
